/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0a0a0a;
  --blue: #00d4ff;
  --white: #fff;
  --grey: #a4a3a3;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bricolage-grotesque-v9-latin-regular.woff2')
    format('woff2');
  font-family: 'Bricolage Grotesque';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2');
  font-family: 'Bricolage Grotesque';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
  font-family: 'DM Sans';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v17-latin-700.woff2') format('woff2');
  font-family: 'DM Sans';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v24-latin-regular.woff2') format('woff2');
  font-family: 'JetBrains Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2');
  font-family: 'JetBrains Mono';
  font-display: swap;
}
