/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #0a0a0a;
  --blue: #00d4ff;
  --white: #fff;
  --grey: #a4a3a3;
  --dark-grey: #202020;
  --darker-grey: #151515;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bricolage-grotesque-v9-latin-regular.woff2')
    format('woff2');
  font-family: 'Bricolage Grotesque';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2');
  font-family: 'Bricolage Grotesque';
  font-display: swap;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
  font-family: 'DM Sans';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dm-sans-v17-latin-700.woff2') format('woff2');
  font-family: 'DM Sans';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v24-latin-regular.woff2') format('woff2');
  font-family: 'JetBrains Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2');
  font-family: 'JetBrains Mono';
  font-display: swap;
}

/* || Typography */

header,
.mobile-nav-link a,
h1,
.hero-link,
.text-main,
.section-header,
.stats-detail,
.project-item-link,
.project-header,
.project-details,
.skill-item {
  font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 1.5rem;
}

.meta-title,
.stats-header,
.all-projects-link,
.index-year,
.tech-item {
  font-size: 0.8rem;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
}

.meta-title {
  color: var(--blue);
}

.stats-header,
.all-projects-link,
.index-year,
.project-item-link,
.project-details,
.tech-item,
.skill-item {
  color: var(--grey);
}

.project-details {
  line-height: 160%;
}

.all-projects-link,
.project-item-link {
  cursor: pointer;
  text-decoration: none;
}

.project-item-link {
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}

h1,
.stats-detail,
.project-header {
  color: var(--white);
}

.project-header {
  font-size: 1.5rem;
}

.stats-detail {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
}

.text-main {
  padding-right: 1rem;
  color: var(--grey);
  line-height: 160%;
}

.section-header {
  color: var(--white);
}

/* || Main Styles */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}

/* Header */

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  gap: 16rem;
  background-color: var(--black);
  padding: 1rem;
}

.logo-link {
  text-decoration: none;
}

.logo {
  color: var(--white);
}

.logo-span {
  color: var(--blue);
}

.fa-bars {
  cursor: pointer;
  color: var(--white);
  font-size: 1.2rem;
}

.highlighted {
  color: var(--blue);
}

.mobile-nav {
  position: fixed;
  top: 3.6rem;
  left: 0;
  opacity: 0;
  z-index: 99;
  transition: opacity 0.2s ease-in-out;
  margin-block-end: 7rem;
  background-color: var(--black);
  width: 100%;
}

.visible {
  opacity: 1;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2em;
  list-style: none;
}

.mobile-nav-link a {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: var(--grey);
  text-decoration: none;
}

.mobile-nav-link a:hover {
  color: var(--white);
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1.2rem 2.5rem 1.2rem;
  height: 100vh;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-call-to-action {
  display: flex;
  gap: 1rem;
}

.hero-link {
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
}

.view-work {
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  border: 0.1rem solid var(--blue);
  background-color: var(--blue);
  color: var(--black);
}

.view-work:hover {
  opacity: 0.7;
}

.get-in-touch {
  transition: border 0.2s ease-in-out;
  cursor: pointer;
  border: 0.1rem solid rgba(164, 163, 163, 0.5);
  color: var(--white);
}

.get-in-touch:hover {
  border: 0.1rem solid rgba(164, 163, 163, 1);
}

/* About Section */

.about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 1.2rem 0 1.2rem;
  height: 100vh;
}

.about-stats-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--darker-grey);
  padding: 1rem;
}

/* Project Section */

.project-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 1.2rem 0 1.2rem;
  height: 100%;
}

.projects-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-radius: 1rem;
  background-color: var(--darker-grey);
  padding: 1.5rem;
}

.index-year {
  display: flex;
  justify-content: space-between;
}

.tech-stack-container {
  display: flex;
  gap: 1rem;
}

.tech-item {
  border: 0.1rem solid var(--grey);
  border-radius: 0.5rem;
  background-color: var(--dark-grey);
  padding: 0.5rem;
  text-align: center;
}

/* Skills Section */

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 1.2rem 0 1.2rem;
  height: 100vh;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.skill-item {
  border-bottom: 0.1rem solid var(--grey);
  padding: 1rem;
}
